<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Подключаем файл со стилями для навигации -->
    <link rel="stylesheet" href="/styles_nav.css">
</head>
<body>

<!-- Добавляем навигацию -->
<nav>
    <a href="/home">Меню</a>
    <a href="/login">Войти</a>
    <a href="/registration">Регистрация</a>
    <a href="/information">Информация</a>
    <a href="/stats">Статистика</a>
</nav>

<!-- Основной контент страницы -->
<!-- Здесь будет ваш контент -->

</body>
</html>
